@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Public Sans", sans-serif;
  background-color: hsl(0, 0%, 98%);

  nav.open {
    box-shadow: 0 200px 300px rgba(0, 0, 0, 0.4);
  }
}

footer {
  background-color: hsl(233, 26%, 24%);
}
img {
  max-width: 100%;
}

.btn {
  background-image: linear-gradient(
    90deg,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
